@import '@/app/_scss/variables.module.scss';

.next-arrow,
.prev-arrow {
  z-index: 1;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10px !important;
  height: 3.25em !important;
  width: 3.25em !important;
  background: white !important;
  box-shadow: 0 0 2px black;
  opacity: 0.8;
  transition: all 100ms ease;

  @include hoverStyles {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    height: 3em !important;
    width: 3em !important;
  }
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.next-arrow {
  transform: translate(-12px, -17px) !important;
  &:active {
    transform: translate(-13px, -15px) !important;
  }
}

.prev-arrow {
  z-index: 1;
  transform: translate(12px, -17px) !important;
  &:active {
    transform: translate(13px, -15px) !important;
  }
}

.arrow {
  stroke: $dark-grey;
  height: 1.5em;
  width: 4em;
  stroke-width: 10px;
}

.slick-dots .slick-active button::before {
  font-size: 10px !important;
}

@include bp-custom-min(1675) {
  .prev-arrow,
  .next-arrow {
    height: 4em !important;
    width: 4em !important;

    @include hoverStyles {
      opacity: 1;
    }

    &:active {
      opacity: 1;
      height: 3.8em !important;
      width: 3.8em !important;
    }
  }

  .next-arrow {
    transform: translate(-9px, -20px) !important;
    &:active {
      transform: translate(-10px, -18px) !important;
    }
  }

  .prev-arrow {
    transform: translate(9px, -20px) !important;
    &:active {
      transform: translate(10px, -18px) !important;
    }
  }

  .arrow {
    height: 2em;
    width: 5em;
    stroke-width: 8px;
  }
}
