.gallery-button-wrapper {
  height: 100%;
  position: relative;
}

.gallery-image-button {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  position: relative;
  transition: all 100ms ease-in-out;
}

.gallery-image-button:hover {
  filter: brightness(0.8);
}

/* .text {
  width: 300px;
  height: 200px;
} */
