:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root,
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $primary-white;
}

h1,
h2,
h3,
h4,
h5 {
  white-space: nowrap;
  font-family: $secondary-font-stack;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
